<template name='productsContact'>
  <br><br>
  <div class="container contact store">
    <h3>Contacto</h3>
    <div class="row">
      <div class="col-sm-6">
        {{# unless contactSent }}
          {{# autoForm schema='ContactSchema' id="contactProductsForm" type="method" meteormethod="sendContactStore" }}
            {{> afQuickField name="productsIds" type="hidden" value=getProducts }}
            {{> afQuickField name="name" placeholder="Nombre" class="span12" label=false }}
            {{> afQuickField name="email"  placeholder="Email" class="span12" label=false }}
            {{> afQuickField name="message"  placeholder="Mensaje" rows=10 class="span12" label=false }}
            <button type="submit" class="btn btn-contact">Enviar</button>
          {{/ autoForm }}
        {{ else }}
          <div>
            <p>{{ dict 'contact.emailSent' }}</p>
          </div>
        {{/ unless }}
        <br>
      </div>
      <div class="col-sm-4 col-sm-offset-1 lacosita-social">
        {{# each products }}
          <div class="row">
            <div class="col-xs-3">
              {{# with getFirst images }}
                <div class='thumb-box' style='background-image: url({{ url }})'></div>
              {{/ with }}
            </div>
            <div class="col-xs-9">
              <p style="margin-top: 10px">
                {{ formatMoney price }}
              </p>
            </div>
          </div>
        {{/ each }}
        <br>
      </div>
    </div>
  </div>
</template>
