<template name='productsIndex'>
  {{# if Template.subscriptionsReady }}
    {{# if products }}
      <div class="container store text">
        {{{ dict 'store.text' }}}
        <br><br>
      </div>
      <div class="container-fluid store">
        <div class="row">
          {{# each products }}
            <div class="open-product store-col {{# if isLandscape }}is-landscape col-sm-6{{ else }}col-sm-4{{/ if }} {{# if isSelected }}selected{{/ if }}">
              {{> productListItem }}
            </div>
          {{/ each }}
        </div>
        {{# with selected }}
          <div class="selected-product">
            <div class="close">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            {{> productsIndexItem }}
          </div>
        {{/ with}}
      </div>
      {{> productsContact products=selectedProducts }}
    {{ else }}
      <p style="text-align: center">
        No se encontró lo que buscabas
      </p>
    {{/ if }}
  {{ else }}
    <p style="text-align: center">
      Cargando...
    </p>
  {{/ if }}
</template>
