<template name='productsIndexItem'>
  <div class="item container-fluid" style="height: 100%">
    <div class='row' style="height: 100%">
      <div class='col-sm-9' style="height: 100%">
        <div class="images">
          <div class='show-image-box' style='background-image: url({{ selectedImage.url }})'></div>
          <div class="thumbs-container">
            {{# each images }}
              <div class='thumb-box {{# if isSelected }}selected{{/ if }}' style='background-image: url({{ url }})'></div>
            {{/ each }}
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <br><br><br>
        <p>
          {{ description }}
        </p>
        <p>
          {{ size }}
        </p>
        <p>
          {{ formatMoney price }}
        </p>
        <button type="button" class="btn btn-select {{#if isSelectedItem}}active{{/if}}">Seleccionar</button>
        <br>
      </div>
    </div>
  </div>
  <style>
  body, html {
    overflow:hidden;
  }
  </style>
</template>
