// Core variables and mixins
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/variables';
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/mixins';

$pink-color: rgb(242, 213, 194);
$pink-darken: darken($pink-color, 10%);
$brand-primary: $pink-color;

$link-color: $gray-darker;
$link-hover-color: $pink-darken;
$link-hover-decoration: none;

$navbar-height: 50px;
$font-family-base: 'Open Sans', sans-serif;

$navbar-default-brand-color: $navbar-default-link-color;
// $navbar-default-brand-hover-color: $pink-darken;

$navbar-default-color: $navbar-default-link-color;
$navbar-default-bg: #fff;
$navbar-default-border: #fff;

$navbar-default-link-color: darken(#fff, 90%);
$navbar-default-link-active-color: $pink-darken;
$navbar-default-link-active-bg: #fff;

$nav-link-padding: 10px 25px;

$dropdown-link-hover-bg: $pink-color;
$dropdown-link-active-bg: $pink-color;
$dropdown-link-active-color: $gray-darker;
