@import "{}/client/styles/components/_variables.scss";

$line-color: lighten(#000, 40%);
$background-color: #fff;

.btn.btn-cosita {
  background-color: $background-color;
  border-color: $line-color;
  color: $line-color;
  border-radius: 0;
  font-size: 12px;
  &:hover {
    background-color: $pink-color;
    color: $line-color;
  }
  &:focus {
    outline:0;
  }
}
