@import "{}/client/styles/components/_variables.scss";

$line-color: lighten(#000, 40%);
$background-color: #fff;

.contact {
  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .btn.btn-contact {
    background-color: $background-color;
    border-color: $line-color;
    color: $line-color;
    border-radius: 0;
    font-size: 12px;
    &:hover {
      background-color: $pink-color;
      color: $line-color;
    }
    &:focus {
      outline:0;
    }
  }

  input, textarea {
    background-color: $background-color;
    border-color: $line-color;
    color: $line-color;
    border-radius: 0;
    font-size: 12px;
    &:focus {
      box-shadow: none;
      border-color: $pink-darken;
    }
  }

}
