@import "{}/client/styles/components/_variables.scss";

.navbar {
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 200;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar-col {
      margin: 0 5%;
    }
  }
}
