@import "{}/client/styles/components/_variables.scss";
@import "{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/variables";

$line-color: lighten(#000, 40%);
$background-color: #fff;

.container.store.text {}

.store {

  &.text, &.text * {
    font-family: "Letter Gothic Std", Menlo, Monaco, Consolas, "Courier New", monospace !important;
  }

  .store-col {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    cursor: pointer;
    padding: 20px;

    &:nth-child(3n) {
    }
    &:nth-last-child(-n+4) {
      border-bottom: 1px solid #eee;
    }

    &:hover {
      background-color: lighten(#000, 96%);
    }

    &.selected {
      background-color: lighten(#000, 95%);
    }

    .image-box {

    }
  }

  .item {
    padding: 20px;
    text-align: left;
  }

  .image-box {
    height: 400px;
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    // background-color: lighten(#000, 99%);
    border-radius: 3px;
    cursor: zoom-in;

    &.is-landscape {
      height: 350px;
    }
  }

  .images {
    height: 100%;
    display: flex;
    flex-direction: column;

    .show-image-box {
      flex: 1;
      width: 100%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      // background-color: lighten(#000, 99%);
      border-radius: 3px;
      cursor: zoom-in;
    }
  }



  .selected-product {
    background-color: #fff;
    position: fixed;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;

    .thumbs-container {
      text-align: center;
    }

    .thumb-box {
      margin-top: 5px;
      height: 60px;
      width: 60px;
      background-position: center center;
      background-size: cover;
      display: inline-block;
      cursor: pointer;

      &.selected {
        border: solid 2px lighten(#000, 96%);
      }
    }

    .close {
      z-index: 1001;
      cursor: pointer;
      position: fixed;
      top: 20px;
      right: 30px;
      .fa {
        color: #000;
        font-size: 30px;
      }
    }

    .btn-select {
      background-color: $background-color;
      border-color: $line-color;
      color: $line-color;
      border-radius: 0;
      font-size: 12px;
      &.active {
        background-color: $pink-color;
        color: $line-color;
      }
      &:focus {
        outline:0;
      }
    }
  }

  .thumb-box {
    margin-top: 5px;
    height: 60px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
  }

}
