@import '{}/client/styles/components/_variables.scss';
@import '{reywood:bootstrap3-sass}/bootstrap';

.navbar-default .navbar-brand {
  color: #4f4f4f;
}

body {
  color: #4f4f4f;
}

.about .content {
  max-width: 900px;
  margin: 0 auto;
}

.about .content {
  ul {
    list-style: none;
  }

  ul li:before {
    content: '•';
    position: relative;
    top: 1px;
    font-size: 110%; /* or whatever */
    padding-right: 10px;
  }

  li {
    margin-bottom: 2px !important;
  }
}
