<template name="layout">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-col">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ RouterLayerPathFor 'home' }}">Francisca Infante</a>
          </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-right">
               <li class="{{ RouterLayerIsActiveRoute 'about' }}"><a href="{{ RouterLayerPathFor 'about' }}">About</a></li>
               <li class="dropdown {{ RouterLayerIsActiveRoute 'work' }}">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   {{# each categories }}
                    <li class="{{ RouterLayerIsActiveRoute 'work' url=url }}"><a href="{{ RouterLayerPathFor 'work' url=url }}">{{ name }}</a></li>
                   {{/ each }}
                 </ul>
               </li>
               <li class="{{ RouterLayerIsActiveRoute 'contact' }}"><a href="{{ RouterLayerPathFor 'contact' }}">Contact</a></li>
             </ul>
           </div>
        </div>
      </div>
    </div>
  </nav>
  {{> yield }}
</template>
